@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin: 0;
}

#playbox {
    margin: 15px auto;
    width: 50%;
    height: 50%;
    opacity: 0;
    z-index: 1;
    position: relative;
}

.invisible {
    display: none;
}

#playbox::before {
    content: "+";
    font-size: 30px;
    z-index: -1;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    color: rgb(236, 236, 236);
}

#landing-screen {
    display: block;
}

#score-screen {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

h2 {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 10vh;
    margin-left: 20px;
}

button {
    border: black 2px solid;
    margin-top: 5px;
    box-shadow: rgb(236, 236, 236) 2px 2px 0,
    black 4px 4px 0;
    background: orange;
    font-family: 'Sawarabi Gothic', sans-serif;
    width: auto;
    height: auto;
    font-size: 3vh;
    cursor: pointer;
}

#scoreButton {
    opacity: 0;
    margin: 10px 10px;
}

#questions-container {
    display: none;
    z-index: 3;
}

#questions-container h2 {
    font-size: 6vh;
    padding: .7em 0 0 .7em;
    position: relative;
}

#questions-container li {
    padding-left: 30%;
    list-style-type: none;
    font-size: 3vh;
}

#score-screen {
    z-index: 3;
    display: none;
}

#finish-screen {
    display: none;
}

input[type=submit] {
    border: black 2px solid;
    box-shadow: rgb(236, 236, 236) 2px 2px 0,
    black 4px 4px 0;
    background: orange;
    font-family: 'Sawarabi Gothic', sans-serif;
    width: auto;
    height: auto;
    font-size: 2vh;
    cursor: pointer;
}

h4 {
    position: absolute;
    bottom: 0;
}

#starter {
    position: absolute;
    left: 50%;
}

#starter:hover {
    animation: funSpin 1s ease-in-out;
}

button:active, #starter:active {
    background: rgb(255, 102, 0);
}

@keyframes funSpin {
    10% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(360deg);
    }
}